name: Build and Test

on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  semver-checks:
    runs-on: ubuntu-latest

    name: cargo semver-checks
    steps:
      - uses: actions/checkout@v4
      - uses: obi1kenobi/cargo-semver-checks-action@v2
        with:
          # Note: python and wasm features are mutually exclusive, so we only check core features
          feature-group: only-explicit-features
          features: elgamal3,long,global,batch,serde,legacy,insecure

  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        features:
          - ""
          - "elgamal3"
          - "legacy"
          - "elgamal3,legacy"

    name: cargo test (${{ matrix.features || 'default' }})
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - uses: Swatinem/rust-cache@v2
      - run: cargo test --features "${{ matrix.features }}"

  build-wasm:
    runs-on: ubuntu-latest
    needs: test
    strategy:
      fail-fast: false
      matrix:
        target: [ "web", "nodejs" ]
        features: [ "", "elgamal3" ]

    name: wasm-pack build (${{ matrix.target }}, ${{ matrix.features || 'default' }})
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - uses: Swatinem/rust-cache@v2
      - run: cargo install wasm-pack
      - run: wasm-pack build --target ${{ matrix.target }} --features "wasm,${{ matrix.features }}"
